html{
    color: white;
    background: linear-gradient(-45deg, #CCE05E, #94BB40, #1F7D34, #263253);
	background-size: 1000% 1000%;
	animation: gradient 15s ease infinite;
    font-family: 'Work Sans', sans-serif;
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.button {
    background-color: rgba(255, 255, 255, 0); 
    border: 2px solid #ffffff;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    

  }
  .button:hover {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.733);
   
  }
  a::after{
      color: white;
  }
h1{
    padding-top: 15rem;
    font-weight: 500;
    font-size: 48pt;
}
h6{
    font-size: 12pt;
    font-weight: 600;
}
footer{
    position: absolute;
    bottom: 3rem;
    width: 100%;
    height: 2.5rem; 
}